/* css reset */
* {
   margin: 0;
   padding: 0;

}
html{
   scroll-behavior: smooth;
}

/* Css Variables */

:root {
   --navbar--height: 59px:
}


/* Navigation Bar */
#navbar {
   z-index: 12;
   display: flex;
   align-items: center;
   position: sticky;
   justify-content: center;
   top: 0px;

}

#navbar::before {
   content: "";
   background-color: black;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.6;
}

/* Navigation Bar :Logo and Image */
#logo {
   margin: 3px 15px;
}

#logo img {
   height: 67px;
   margin: -4px -14px;
   border-radius: 50%;
}

/* Navigation Bar :List Styling */

#navbar ul {

   display: flex;
   font-family: 'Balsamiq Sans', cursive;
}


#navbar ul li {

   list-style: none;
   font-size: 1.3rem;
}

#navbar ul li a {
   color: whitesmoke;
   display: block;
   padding: 4px 25px;
   border-radius: 20px;
   text-decoration: none;
}

#navbar ul li a:hover {
   color: black;
   background-color: white;

}

/* Home section */

#home {
   display: flex;
   flex-direction: column;
   padding: 3px 200ox;
   height: 644px;
   justify-content: center;
   align-items: center;

}

#home::before {
   content: "";
   position: absolute;
   background: url('../img/bg2.png') no-repeat center center/cover;
   height: 700px;
   top: 0px;
   left: 0px;
   width: 100%;
   z-index: -1;
   opacity: 0.89;

}

#home h1 {
   color: rgb(0, 0, 0);
   text-align: center;
}

#home p {
   color: white;
   text-align: center;
   font-size: 1.5rem;


}

/* Services Section */
#services {
   margin: 34px;
   display: flex;
   /* box-shadow: 0 0 10px #686868c7;
   padding: 20px; */
}

.more-btn{
   display: flex;
   justify-content: center;
}

#services .box {
   border: 2px solid brown;
   padding: 2px;
   margin: 3px 6px;
   border-radius: 24PX;
   background-color: #ffeeee;
}

#services .box img {
   height: 207px;
   margin: auto;
   display: block;
   border-radius: 20px;
}

#services .box h3 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 2.3rem;
}

#services .box p {
   font-family: 'Courier New', Courier, monospace;
   font-size: 1.1rem;
}



/* clients section */
#client-section {
position: relative;
   height: 574px;
   box-shadow: 0 0 10px #686868c7;

}

#client-section::before {
   content: "";
   position: absolute;
   /* background: url(../img/bg.png) no-repeat center center/cover;; */
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.9;


}

#clients {
   display: flex;
   justify-content: center;
   align-items: center;
}

#clients img {

   height: 120px;
   padding: 25px;

}


/* Contact Section */
#contact{
   position: relative;
}
#contact::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.7;
   background: url('../img/7.png') no-repeat center center/cover;

}
#contact-box{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
   width: 100%;
   padding: 0.5rem;
   border-radius: 9px;
   font-size: 1.1rem;
} 

#contact-box form{
   width: 40%;
}

#contact-box label{
  font-size: 1.3rem;
  font-family: 'Bree Serif', serif;

}


footer{
   background: black;
   color: white;
   padding: 9px 20px;
}




/* utility Classes */
.h-primary {
   font-size: 3.8rem;
   padding: 12px;
   ;
}

.h-secondary {
   font-size: 2.23 rem;
   padding: 12px;
   font-family: 'Balsamiq Sans', cursive;
}

.btn {
   padding: 6px 20px;
   border: 2px solid white;
   background-color: rgb(128, 23, 23);
   color: rgb(248, 250, 252);
   margin: 20px;
   font-size: 1.5rem;
   border-radius: 9px;
   cursor: pointer;
   box-shadow:  0 0 10px 5px #3a3a3a;

}
.btn:hover{
   background-color: #fff;
   color: black;
}

.center {
   text-align: center;
}